<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>FreeRead_About</title>
</head>
<body>
    <p><a href="index.html">Home</a></p>
<<<<<<< HEAD
    <ul>
        <li><a href="Profile.html">Profile</a></li>
        <li><a href="AboutPage.html">About</a></li>
        <li><a href="Game.html">Game</a></li>
        <li><a href="Library.html">Library</a></li>
        <li><a href="Leaderboard.html">Leader Board</a></li>
        <li><a href="ContactUs.html">Contact Us</a></li>
    </ul>
<section class="friends_section">
<h2>Friends</h2>
    <div class="friend">
        <div class="centered">
            <img src="" alt="Avatar woman">
            <h2>Jane Flex</h2>
            <p>Some text.</p>
        </div>
    </div>
      
    <div class="friend">
        <div class="centered">
          <img src="" alt="Avatar man">
          <h2>John Doe</h2>
          <p>Some text here too.</p>
        </div>
    </div>
    <div class="friend">
        <div class="centered">
          <img src="" alt="Avatar man">
          <h2>John Doe</h2>
          <p>Some text here too.</p>
        </div>
    </div>
    <div class="friend">
        <div class="centered">
            <img src="" alt="Avatar woman">
            <h2>Jane Flex</h2>
            <p>Some text.</p>
        </div>
    </div>
</section>    
    </body>
=======
    <header>
        <img class = "banner" src ="">
    </header>
    <%- include('navLinks_shortcut.ejs') %>
</body>
>>>>>>> 8557f0055d5a42a16811a4464b5c9c4c62a14e3b
</html>