<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>FreeRead_About</title>
</head>
<body>
    <header>
        <img class = "banner" src ="">
    </header>
    <%- include('htmlShortcuts.ejs') %>
    <section class="countries">
        <h2> Countries With Illiterate Citizens</h2>
        <p></p>
        <p>Illiteracy is defined as not knowing how to read or write beyond a basic level, understanding directions, or having the capacity to complete tasks in a timely manner.</p>
        <p>A person can either be purely or functionally illiterate. Purely illiterate individuals cannot read or write in any capacity for all practical purposes. In contrast, functionally illiterate individuals can read and potentially write simple sentences with a limited vocabulary, but cannot read or write well enough to handle the daily requirements of life in their own society.</p>
        <img src="images/liberia.jpg" alt="Liberia-flag" height="130" width="200"><img src="images/niger.jpg" alt="Niger-flag" height="130" width="200"><img src="images/southsudan.jpg" alt="South Sudan-flag" height="130" width="200">
        <p>Countries with the most illiterate people include: Niger, South Sudan, Guinea, Burkina Faso, Central African Republic and Afghanistan</p>
    </section>
    <section class="effects">
        <h2>Effects Of Poor Education On Kids</h2>
        <p>It’s estimated that over 90% of children out of school live in poverty.</p>
        <p>As you can see, poverty is hunger. It’s about not having money, a job, or a shelter. It’s about being sick without treatment. This has people living one day at a time, but with little hope for the future.</p>
        <p>According to the World Bank Organization, the primary cause of this is a lack of access to schools and the inability to read.</p><img src="images/africankids.jpg" height="200" width="200">
    </section>
    <section class="purpose">
        <h1>Our Purpose</h1>
        <p>Our purpose is simple. It is to help children learn how to read and write using a typing based game. The typing game will also keep track of how many correct sentences were entered. Each sentence typed correctly is equal to a book page and once 500 pages is reached, a book will be donated to one of the illiterate countires mentioned above.</p>
        <footer>
            <div class="social">
                <a href="https://facebook.com" target="_blank">
                    <img src="images/facebook.png" alt="fb icon">
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="images/twitter.png" alt="twitter icon">
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="images/instagram.png" alt="instagram icon">
                </a>
            </div>
        </footer>
    </section>
</body>
</html>