<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/game.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/javascript/game.js" defer></script>
    <title>FreeRead_Game</title>
</head>
<body>
    <%- include('htmlShortcuts.ejs') %>
    <div class="centralContent">
        <div class="timer" id="timer"></div>
        <div class="container">
            <div class="quote-display" id="quoteDisplay"></div>
            <textarea id="quoteInput"  class="quote-input" autofocus></textarea>
            <div id="sentenceCount">Sentence/Page Count = <span id=SC_value>0</span></div>
            <div>Speed = <span id="recentSpeed">0</span> wpm</div>
            <div>Fastest Speed = <span id="topSpeed">0</span> wpm</div>
            <p style="color: red;">
            <% if(isAuthenticated){} else { %>
                Login to save progress
            <% } %>
            </p>
        </div>
    </div>
</body>
</html>