<header>
    <a href="/"><img id="banner" class="left" src="/images/Clipboard (1).jpg" alt="banner/logo"></a> <!--fix this-->
</header>
   
<div class="stickyTest2">
<nav>
<ul>
<li><a href="/profile">Profile</a></li>
<li><a href="/about">About</a></li>
<li><a href="/game">Game</a></li>
<li><a href="/library">Library</a></li>
<li><a href="/leaderboard">Leader Board</a></li>
<li><a href="/contact">Contact Us</a></li>
</ul>
</nav>
</div>

<div class="stickyTest2">
<ul id="friendList_holder">
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>Erik Q. Birch</div>
        <div class="readingWhat">Fastest Speed: 78WPM</div>
    </li>
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>Alex Braddock</div>
        <div class="readingWhat">Fastest Speed: 94WPM</div>
    </li>
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>Clive</div>
        <div class="readingWhat">Fastest Speed: 84WPM</div>
    </li>
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>Matt Kelly</div>
        <div class="readingWhat">Fastest Speed: 69WPM</div>
    </li>
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>Jena0541</div>
        <div class="readingWhat">Fastest Speed: 92WPM</div>
    </li>
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>Kobe Shoryu</div>
        <div class="readingWhat">Fastest Speed: 56WPM</div>
    </li>
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>Shattler</div>
        <div class="readingWhat">Fastest Speed: 93WPM</div>
    </li>
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>Lora Bunns</div>
        <div class="readingWhat">Fastest Speed: 83WPM</div>
    </li>
    <li>
        <img src="/images/img holder.png" class=profilePic>
        <div class=friendName>KeyCrusher</div>
        <div class="readingWhat">Fastest Speed: 81WPM</div>
    </li>
    




<!-- <li class="friendName">Erik Q. Birch</li>
<li class="readingWhat">Currently Reading: Unequivocant</li>
<li class="friendName">Alex Braddock</li>
<li class="readingWhat">Currently Reading: </li>
<li class="friendName">Clive</li>
<li class="readingWhat">Currently Reading: </li>
<li class="friendName">Matt Kelly</li>
<li class="readingWhat">Currently Reading:</li>
<li class="friendName">Erik Q. Birch</li>
<li class="readingWhat">Currently Reading: Unequivocant</li>
<li class="friendName">Alex Braddock</li>
<li class="readingWhat">Currently Reading: </li>
<li class="friendName">Clive</li>
<li class="readingWhat">Currently Reading: </li>
<li class="friendName">Matt Kelly</li>
<li class="readingWhat">Currently Reading:</li>
<li class="friendName">Erik Q. Birch</li>
<li class="readingWhat">Currently Reading: Unequivocant</li>
<li class="friendName">Alex Braddock</li>
<li class="readingWhat">Currently Reading: </li>
<li class="friendName">Clive</li>
<li class="readingWhat">Currently Reading: </li>
<li class="friendName">Matt Kelly</li>
<li class="readingWhat">Currently Reading:</li>
<li class="friendName">Erik Q. Birch</li>
<li class="readingWhat">Currently Reading: Unequivocant</li>
<li class="friendName">Alex Braddock</li>
<li class="readingWhat">Currently Reading: </li>
<li class="friendName">Clive</li>
<li class="readingWhat">Currently Reading: </li>
<li class="friendName">Matt Kelly</li>
<li class="readingWhat">Currently Reading:</li> -->

</ul>
</div>



        <!-- <div id="friendList_holder">
            <h3>Erik Q. Birch</h3>
            <p>Currently Reading Unequivocant</p>
            <h3>Alex Braddock</h3>
            <p>Currently Reading: </p>
            <h3>Clive</h3>
            <p>Currently Reading: </p>
            <h3>Matt Kelly</h3>
            <p>Currently Reading</p>
        </div> -->
