<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>FreeRead_Home</title>
</head>

<body>
    <%- include('htmlShortcuts.ejs') %>
<main>
    <div class="centralContent mainPage">
        <img class="profilePic" src="/images/miniIcon.png">
        <h1 class="postTitle"><em>Erik Q. Birch</em> just finished: <em>Emag City</em></h1>
        <p class="date-timePosted">1 Hr ago</p>
        <p class="postComment">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam placeat dolorum assumenda eligendi cumque illum suscipit officiis, esse neque repellat quae eos quas ab quidem sunt perspiciatis laudantium quis veritatis aspernatur maiores consectetur quibusdam! Deserunt officiis consectetur laborum odio, aspernatur eligendi soluta atque illum beatae perferendis iure error, nobis sed? Laboriosam eum esse tempora quae corporis ullam culpa autem maxime, voluptatum dolorum obcaecati molestiae voluptatem cum dignissimos eius suscipit! Eius quod dolore vel neque! Ipsa dolor fuga veritatis voluptatibus. Asperiores ipsa distinctio expedita harum iusto eveniet dolores quibusdam assumenda necessitatibus quisquam illum, modi beatae officiis ipsum! Qui ratione labore tenetur."</p>
        <img class="profilePic_display" src="/images/ErikQBirch (1).jpg">
        <img class="bookCover_display" src="/images/book-1.png">
    </div>
    <div class="centralContent mainPage">
        <img src="/images/img holder.png" class=profilePic>
        <h1>More Stuff</h1>
        <p class="date-timePosted">2 Days ago</p>
    </div>
    <div class="centralContent mainPage">
        <img src="/images/img holder.png" class=profilePic>
        <h1>Even More Stuff</h1>
        <p class="date-timePosted">Wed. 5:47pm</p>
    </div>
    <div class="centralContent mainPage">
        <img src="/images/img holder.png" class=profilePic>
        <h1>Hello World! This is Honest!</h1>
        <p class="date-timePosted">1 Hr ago</p>
    </div>
    <div class="centralContent mainPage">
        <img src="/images/img holder.png" class=profilePic>
        <h1>More Stuff</h1>
        <p class="date-timePosted">2 Days ago</p>
    </div>
    <div class="centralContent mainPage">
        <img src="/images/img holder.png" class=profilePic>
        <h1>Even More Stuff</h1>
        <p class="date-timePosted">Wed. 5:47pm</p>
    </div>
    <div class="centralContent mainPage">
        <img src="/images/img holder.png" class=profilePic>
        <h1>Hello World! This is Honest!</h1>
        <p>1 Hr ago</p>
    </div>
    <div class="centralContent mainPage">
        <img src="/images/img holder.png" class=profilePic>
        <h1>More Stuff</h1>
        <p class="date-timePosted">2 Days ago</p>
    </div>
    <div class="centralContent mainPage">
        <img src="/images/img holder.png" class=profilePic>
        <h1>Even More Stuff</h1>
        <p class="date-timePosted">Wed. 5:47pm</p>
    </div>

</main>

</body>
</html>