<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>FreeRead_Home</title>
</head>

<body>
<header>
    <img class="banner" src="C:\Users\User\Desktop\School\BYU-Idaho 7th Semester (Fall 2021)\Hack Week\Hackathon Repository (Draft2)\hackathon2021\images\banner_img.png" alt="banner/logo">
</header>
<%- include('navLinks_shortcut.ejs') %>
hello
dsad 

<h1>Here's Jonny!</h1>
</body>
</html>