<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>FreeRead_Home</title>
</head>
<header>
    <img class = "banner" src ="">
</header>
<body>
<%- include('navLinks.ejs') %>
<<<<<<< HEAD
<div>
    <section>
        <h2></h2>
        <img src ="" alt="" height="" width="">
      <p></p>  
    </section>
</div>
=======
<ul></ul>
>>>>>>> bf22e8096fbedf0a1397b0538e55fa7cf86e526b
</body>
</html>