<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>FreeRead_Leaderboard</title>
</head>
<body>
    <header>
        <img class = "banner" src ="">
    </header>
    <%- include('htmlShortcuts.ejs') %>
    <!-- <div class="centralContent" id="leaderBoardToggleSwitch_holder">
        <ul id="leaderBoardToggleSwitch">
            <li>Pages Donated</li>
            <li>Typing Speed</li>
            <li>Books Read</li>
        </ul> 
    </div> -->

    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>1</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Erik Q. Birch</p>
        <p class="Score"><span>49764</span> Pages</p>
        <p class="Speed"><span>78</span> WPM</p>
        <p class="Books"><span>99</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>2</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Alex Braddock</p>
        <p class="Score"><span>42231</span> Pages</p>
        <p class="Speed"><span>94</span> WPM</p>
        <p class="Books"><span>84</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>3</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Clive</p>
        <p class="Score"><span>33328</span> Pages</p>
        <p class="Speed"><span>84</span> WPM</p>
        <p class="Books"><span>66</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>4</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Matt Kelly</p>
        <p class="Score"><span>28564</span> Pages</p>
        <p class="Speed"><span>69</span> WPM</p>
        <p class="Books"><span>57</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>5</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Honest</p>
        <p class="Score"><span>16001</span> Pages</p>
        <p class="Speed"><span>80</span> WPM</p>
        <p class="Books"><span>32</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>5</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Florence</p>
        <p class="Score"><span>14566</span> Pages</p>
        <p class="Speed"><span>16</span> WPM</p>
        <p class="Books"><span>29</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>5</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Jekylstein</p>
        <p class="Score"><span>13526</span> Pages</p>
        <p class="Speed"><span>62</span> WPM</p>
        <p class="Books"><span>27</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>5</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Kobe</p>
        <p class="Score"><span>12012</span> Pages</p>
        <p class="Speed"><span>70</span> WPM</p>
        <p class="Books"><span>24</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>5</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Howard</p>
        <p class="Score"><span>7560</span> Pages</p>
        <p class="Speed"><span>70</span> WPM</p>
        <p class="Books"><span>15</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>5</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Sundae</p>
        <p class="Score"><span>4506</span> Pages</p>
        <p class="Speed"><span>70</span> WPM</p>
        <p class="Books"><span>9</span> Books</p>
    </div>
</body>
</html>