<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>FreeRead_Leaderboard</title>
</head>
<body>
    <header>
        <img class = "banner" src ="">
    </header>
    <%- include('htmlShortcuts.ejs') %>
    <!-- <div class="centralContent" id="leaderBoardToggleSwitch_holder">
        <ul id="leaderBoardToggleSwitch">
            <li>Pages Donated</li>
            <li>Typing Speed</li>
            <li>Books Read</li>
        </ul> 
    </div> -->

    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>1</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Erik Q. Birch</p>
        <p class="Score"><span>150</span> Pages</p>
        <p class="Speed"><span>70</span> WPM</p>
        <p class="Books"><span>48</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>2</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Alex Braddock</p>
        <p class="Score"><span>150</span> Pages</p>
        <p class="Speed"><span>70</span> WPM</p>
        <p class="Books"><span>48</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>3</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Clive</p>
        <p class="Score"><span>150</span> Pages</p>
        <p class="Speed"><span>70</span> WPM</p>
        <p class="Books"><span>48</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>4</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Matt Kelly</p>
        <p class="Score"><span>150</span> Pages</p>
        <p class="Speed"><span>70</span> WPM</p>
        <p class="Books"><span>48</span> Books</p>
    </div>
    <div class="centralContent leaderBoardContent">
        <p class="rankNumb">#<span>5</span></p>
        <img src="/images/img holder.png" class=profilePic>
        <p class="userName">Honest</p>
        <p class="Score"><span>150</span> Pages</p>
        <p class="Speed"><span>70</span> WPM</p>
        <p class="Books"><span>48</span> Books</p>
    </div>
</body>
</html>