<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Login</title>
</head>
<body>
    <p><a href="/">Home</a></p>
    <%- include('navLinks_shortcut.ejs') %>

    <form action="/login" method="POST" novalidate>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br>
        <button class="btn" type="submit">Log in</button>
    </form>
</body>
</html>