<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>FreeRead_Profile</title>
</head>
<body>
    <header>
        <img class = "banner" src ="">
    </header>
    <%- include('htmlShortcuts.ejs') %>

    <main>
        <div class="centralContent">
            <p>Welcome <%= username %></p>
            <p>You have typed <%= numSentences %> sentences.</p>
            <p>You have donated <%= (numSentences / 10) %> books</p>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    </main>
</body>
</html>