<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Sign Up</title>
</head>
<body>
    <p><a href="index.html">Home</a></p>
    <ul>
        <li><a href="Profile.html">Profile</a></li>
        <li><a href="AboutPage.html">About</a></li>
        <li><a href="Game.html">Game</a></li>
        <li><a href="Library.html">Library</a></li>
        <li><a href="Leaderboard.html">Leader Board</a></li>
        <li><a href="ContactUs.html">Contact Us</a></li>
    </ul>

    <form action="/signup" method="POST" novalidate>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password">
        <br>
        <button class="btn" type="submit">Sign Up</button>
    </form>
</body>
</html>