body {
  background-color: #fff0a0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#banner {
  display: block;
  width: 65%;
  height: 200px;
  margin: 0 auto;
  border: 5px solid #d67d7d;
  margin-bottom: 25px;
}

div.centralContent {
  width: 60%;
  height: auto; /*arbitrary value*/
  margin: 25px auto;
  padding: 25px 0;
  /* text-align: center; */
  background-color: white;
  border: 5px solid #d67d7d;
}

div.centralContent > img.profilePic {
  /* display: inline-block; */
  border-radius: 100%;
  margin-left: 40px;
  width: 50px;
}
div.centralContent > h1 {
  display: inline;
  font-weight: lighter;
  font-size: 4em;
  padding-left: 20px;
  margin-bottom: 0;
}
div.centralContent > p {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 115px;
  margin-top: 0px;
}

/* div#leaderBoardToggleSwitch_holder {
  display: hidden;
  background-color: transparent;
  border: none;
  margin: 0 auto;
  background-color: #23b5aa;
  padding: 0;
}
ul#leaderBoardToggleSwitch {
  display: flex;
  display: hidden;
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 0px;
}
ul#leaderBoardToggleSwitch > li {
  display: block;
  display: hidden;
  font-size: 1.5em;
  line-height: 2em;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
} */
div.leaderBoardContent {
  background-color: #23b5aa;
  border: none;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: 15% 15% 1fr 35%;
  grid-template-rows: 1fr 1fr 1fr;
  height: 150px;
  align-items: center;
}

div.leaderBoardContent > p.rankNumb {
  grid-column: 1;
  grid-row: 1/4;
  color: black;
  font-size: 4em;
  padding: 0;
  margin: 0;
  text-align: center;
}
div.leaderBoardContent > img.profilePic {
  grid-column: 2;
  grid-row: 1/4;
  width: 90%;
  margin: 0 auto;
}
div.leaderBoardContent > p.userName {
  grid-column: 3;
  grid-row: 1/4;
  color: black;
  font-size: 2.75em;
  padding: 0;
  margin: 0;
  text-align: center;
}
div.leaderBoardContent > p.Score {
  grid-column: 4;
  grid-row: 1;
  color: black;
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: left;
}
div.leaderBoardContent > p.Speed {
  grid-column: 4;
  grid-row: 2;
  color: black;
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: left;
}
div.leaderBoardContent > p.Books {
  grid-column: 4;
  grid-row: 3;
  color: black;
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: left;
}

/*Nav Stuff*/
nav > ul {
  width: 17.5%;
  position: absolute;
  left: 0;
  list-style: none;
  font-size: 2.5em;
  padding: 0;
  margin-top: 24px;
  height: auto;
  /* background-color: rgba(255, 255, 255, 0.39); */
  padding-right: 25px;
  padding-bottom: 15px;
  /* padding-top: 50px; */
}

li > a:link,
li > a:visited,
li > a:hover,
li > a:active {
  color: black;
  background-color: #35c0ff;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 15px 0;
  /* padding-left: 3vh; */
  padding-left: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 15px 0 auto;
}

nav > ul > li > a:hover {
  background-color: #d67d7d;
}

/*friend list*/
/* div#friendList > ul {
  position: absolute;
  display: block;
  right: 0;
  font-size: 1.5em;
  margin-top: 50px;
  padding: 0;
  height: 474px;
  width: 17.5%;
  overflow: auto;
} */
ul#friendList_holder {
  width: 17.5%;
  position: absolute;
  display: block;
  right: 0;
  font-size: 1.5em;
  height: 558px;
  overflow: auto;
  padding: 0;
  padding-right: 25px;
}

ul#friendList_holder > li {
  list-style: none;
  display: block;
  background-color: #35c0ff;
  margin: 15px 0 auto;
  width: 100%;
  padding-right: 10px;
  padding-left: 15px;
  padding-top: 15px;
  /* width:5400px; */
  /* padding-right: 25px; */
  /* width: 100%; */
}

ul#friendList_holder > li > img {
  /* margin-top: 15px; */
  width: 35px;
  border-radius: 100%;
  /* padding-top: 15px; */
}

ul#friendList_holder > li > div.friendName {
  display: inline;
  font-size: 1.25em;
  /* padding-top: 400px; */
  /* width: 100%; */
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px; */
  line-height: 2em;
  margin: 0;
}
ul#friendList_holder > li > div.readingWhat {
  display: block;
  font-size: 0.75em;
  margin-top: -15px;
  padding-bottom: 15px;
  /* text-align: right; */
  /* width: 10%; */
  /* margin-left: 100px; */
  /* padding-bottom: 20px; */
  /* padding-right: 20px; */
}

div.stickyTest2 {
  position: sticky;
  top: 0px;
}
.countries {
  width: 60%;
  height: auto; /*arbitrary value*/
  margin: 25px auto;
  padding: 25px 0;
  text-align: center;
  background-color: white;
}
.effects {
  width: 60%;
  height: auto; /*arbitrary value*/
  margin: 25px auto;
  padding: 25px 0;
  text-align: center;
  background-color: white;
}

.purpose {
  width: 60%;
  height: auto; /*arbitrary value*/
  margin: 25px auto;
  padding: 25px 0;
  text-align: center;
  background-color: white;
}
