body {
  background-color: #fff0a0;
}

#banner {
  display: block;
  width: 65%;
  height: 200px;
  margin: 0 auto;
}

/* #stickySidesContainer {
  position: sticky;
  background-color: black;
  top: 300px;
} */

div.centralContent {
  width: 60%;
  height: auto; /*arbitrary value*/
  margin: 25px auto;
  padding: 25px 0;
  text-align: center;
  background-color: white;
}

nav > ul {
  position: absolute;
  /* top: 300px; */
  left: 0;
  list-style: none;
  /* background-color: #35c0ff; */
  width: 15%;
  font-size: 3em;
  padding: 0;
  /* margin-left: 40px; */
}

li > a:link,
li > a:visited,
li > a:hover,
li > a:active {
  color: black;
  background-color: #35c0ff;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 15px 0;
  padding-left: 40px;
  padding-right: -40px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

nav > ul > li > a:hover {
  background-color: #d67d7d;
}

div#friendList > ul {
  position: absolute;
  display: block;
  /* top: 300px; */
  right: 0;
  width: 15%;
  background-color: rgba(25, 85, 112, 0.75);
  font-size: 1.5em;
  margin-top: 50px;
  padding-right: 40px;
  padding-left: 0;
  height: 522px;
}

ul#friendList_holder > li {
  list-style: none;
  display: block;
  background-color: #35c0ff;
  /* border-top: 1px solid rgba(0, 0, 0, 0.25); */
  width: 100%;
  /* padding-left: 20px; */
  /* padding-right: 20px; */

  /* padding: 0 40px; */
}

ul#friendList_holder > li.friendName {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 1.25em;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
ul#friendList_holder > li.readingWhat {
  display: block;
  font-size: 0.75em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  padding-left: 40px;
  padding-bottom: 20px;
  /* padding-right: -20px; */
}

div.stickyTest2 {
  position: sticky;
  top: 0px;
}
